//--------------------------------------------------------------
// Hero Block
//--------------------------------------------------------------
.hero-block {

	// Content container.
	&-content {
		@include margin(0 auto);

		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 50%;
		min-height: rem(500);
		position: relative;
		text-align: center;
	} // .hero-content

	// Add padding to description.
	&-description {
		padding-bottom: $gutter * 2;
	} // .hero-description

	// Remove any text decoration.
	.button-hero {
		font-size: inherit;
		height: auto;
		line-height: normal;
		padding: rem(8) rem(20);
		text-decoration: none;
	} // a.button-hero
} // .hero


//-----------------------------------------
// Video Controls
//-----------------------------------------
.video-toggle {
	@include position(absolute, null 1% 2% null);
	@include size(rem(22));

	background: url('../images/icons/pause.svg') center center no-repeat transparent;
	background-size: rem(16);
	opacity: 0.2;
	padding: 0;
	transition: $transition-opacity;
	z-index: 5;

	&:active,
	&:focus,
	&:hover {
		opacity: 2;
	}

	.video-toggled & {
		background-image: url('../images/icons/play.svg');
	}
} // .video-toggle


// Adjusts padding for non-full-width content blocks with backgrounds.
.content-block.has-background {

	.container {

		@include media($container-offset) {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
}

//-----------------------------------------
// IE Fixes
//-----------------------------------------
.ie .hero {

	// IE seems to have some width issues with flexbox,
	// the text is rendered wider than its container
	// and doesn't wrap. This fixes that.
	.hero-title,
	.hero-description {
		width: 100%;
	} // .hero-title, .hero-description
} // .ie .hero
