//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------
.content-block {

	@include padding($gutter * 2 null);

	// Remove the extra padding on nested no-background blocks.
	&.no-background,
	&.no-background.container-width,
	&.has-background.container-width {

		// Remove padding from nth no-background block.
		&.no-background,
		&.no-background.container-width {
			padding-top: 0;
		} // & + .no-background
	} // &.no-background

	&.has-background:not(.alignfull) {

		@include margin(0 auto);

		&.container-width {

			@include margin($gutter * 2 auto);
			@include padding($gutter * 2 0);

			@include media($container-offset) {

				@include padding($gutter * 2 $gutter);
			}
		} // &.container-width.
	} // &.has-background

	// Make sure videos stay in their containers.
	&.video-as-background {
		overflow: hidden;
		position: relative;
	} // &.video-as-background

	// Z-index container in ACF blocks.
	.container {
		z-index: 3;
	}

	// Content Block titles.
	&-title {
		text-align: center;

		@include media($tablet-portrait) {
			text-align: left;
		}
	} // .content-block-title
} // .content-block

// Center image background
.image-as-background {
	overflow: hidden;
	position: relative;
} // .image-as-background

// Video and Image as background.
.video-background,
.image-background {

	@include position(absolute, 50% null null 0);
	@include size(100%, auto);

	display: block;
	transform: translateY(-50%);
	z-index: -1;

	@supports (object-fit: cover) {

		@include size(100%);

		object-fit: cover;
	}
}

// Video as background
.video-background {
	object-position: center top;
} // .video-background

// Image as background
.image-background {
	object-position: center center;

	img {

		@include size(100%);

		object-fit: cover;
	}
} // .image-background

// IE/Edge hacks.
.ie .video-background,
.edge .video-background {
	height: auto;
} // .ie .video-background

//-----------------------------------------
// Grid Layout Wrapper
//-----------------------------------------
.display-flex {
	display: flex;
	flex: 0 0 100%;
	flex-flow: row wrap;
	width: 100%; // For IE11.

	//-----------------------------------------
	// Justification
	//-----------------------------------------
	&.justify-center {
		justify-content: center; // Allows center elements without margin: 0 auto;
	} // &.justify-center

	&.space-between {
		justify-content: space-between; // Allows space-between elements.
	} // &.space-between

	//-----------------------------------------
	// Alignments
	//-----------------------------------------
	&.flex-start {
		align-items: flex-start;
	} // &.flex-start

	&.align-center {
		align-items: center;
	} // &.align-center

	//-----------------------------------------
	// Grid Elements
	//-----------------------------------------

	// 50%.
	.half {

		@include half;
	} // .half

	// 33%.
	.third {

		@include third;
	} // .third

	// 25%
	.quarter {

		@include quarter;
	} // .quarter

	//-----------------------------------------
	// Sidebar Elements
	//-----------------------------------------

	// Left @ ~66% with ~50px gutter.
	.left-two-thirds {

		@include left-two-thirds;
	} // .left-two-thirds

	// 33%.
	.right-third {

		@include right-third;
	} // .right-third

	// 33%.
	.left-third {

		@include left-third;
	} // .left-third

	// Right @ ~66% with ~50px gutter.
	.right-two-thirds {

		@include right-two-thirds;
	} // .right-two-thirds
} // .site-wrapper, .display-flex

// Full-width Gutenberg alignment.
.alignfull {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}
