//----------------------------------------
// Block - Hero, FRONTEND
//----------------------------------------

.wds-block.hero {

	.hero-background {
		border: none;
		bottom: 0;
		box-shadow: none;
		height: 100%;
		left: 0;
		margin: 0;
		max-height: none;
		max-width: none;
		outline: none;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: -1;

		img {
			height: 100%;
			object-fit: cover;
			position: absolute;
			width: 100%;
		}
	}

	.hero-content {
		height: 100%;
		opacity: 1;
		position: relative;
	    width: 100%;
    	z-index: 1;
	}

}
