//----------------------------------------
// Module - Tabs Styles, FRONTEND
//----------------------------------------
.wds-module-tabs {

	nav {
		display: flex;
		margin-bottom: -1px;

		.tab-title {
			display: flex;
			justify-content: center;
			padding: .5rem 1.5rem;
			margin-left: .25rem;
		}
	}

}
