//----------------------------------------
// Module - Carousel Styles, EDITOR
//----------------------------------------

.wds-module-carousel {

	.carousel-item {
		border: 1px solid #000;
		margin-bottom: 1rem;
	}

	.carousel-title,
	.carousel-content {
		padding: .5rem 1rem;
	}

}
