//----------------------------------------
// Module - Carousel Styles, FRONTEND
//----------------------------------------
$themeColor: theme( 'colors.gray.400' );
@import '../../../node_modules/swiper/swiper';
@import '../../../node_modules/swiper/modules/navigation/navigation';
@import '../../../node_modules/swiper/modules/pagination/pagination';
@import '../../../node_modules/swiper/modules/a11y/a11y';

.carousel {
	--carousel-height: 600px;

	.wds-module-carousel-slide {

		@apply my-40 mx-auto p-0 relative w-full overflow-hidden;

		height: var( --carousel-height );

		.background {
			@apply bg-left-top bg-cover m-0 p-0 overflow-hidden absolute w-full -z-10;

			height: var( --carousel-height );

			img {
				@apply w-full h-full object-cover;
			}
		}

		.overlay {
			@apply w-full h-full absolute z-10;
		}

		.container {

			.carousel-slide-content {
				@apply flex flex-col items-center justify-center text-white relative w-full z-20 py-20 px-48;

				min-height: var( --carousel-height );
			}
		}

		&.has-text-color {
			.carousel-slide-content {
				@apply text-inherit;
			}
		}
	}

	.carousel-items {
		@apply list-none;
	}
}
