//----------------------------------------
// Module - Carousel Styles, FRONTEND
//----------------------------------------
@import '../../../node_modules/@glidejs/glide/src/assets/sass/glide.core';

.carousel {

	.wds-module-hero {
		margin: 40px auto;
		padding: 0;
		position: relative;
		width: 100%;
		height: 600px;
		overflow: hidden;

		.background {
			background-position: left top;
			background-size: cover;
			height: 600px;
			margin: 0;
			overflow: hidden;
			position: absolute;
			padding: 0;
			width: 100%;
			z-index: -1;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.overlay {
			height: 100%;
			position: absolute;
			width: 100%;
			z-index: 1;
		}

		.container {

			.hero-content {
				align-items: center;
				color: #fff;
				display: flex;
				flex-direction: column;
				justify-content: center;
				min-height: 600px;
				padding: 20px;
				position: relative;
				width: 100%;
				z-index: 10;
			}
		}
	}

	.carousel-track {

		.carousel-items {
			list-style: none;

			.carousel-item {

			}
		}
	}

}
