//--------------------------------------------------------------
//   COLOR VARIABLES
//     - Primary Colors
//     - Grayscale Colors
//     - Social Media Colors
//   ELEMENTS & SKINNING
//     - General
//     - Accessibility
//     - Links
//     - Forms
//     - Buttons
//     - Tables
//     - Modals
//     - Icons
//     - Comments
//     - WP/Gutenberg Blocks
//     - Navigation
//     - Scaffolding
//     - Sass Map for Theme Colors
//     - Sass Map for Social Media Colors
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

// sass-lint:disable no-color-keywords

//--------------------------------------------------------------
// COLOR VARIABLES
//--------------------------------------------------------------

//-----------------------------------------
// Primary Colors
//-----------------------------------------
$color-black:        #000;
$color-blue:         #20739a;
$color-light-yellow: #fff9c0;
$color-white:        #fff;

//-----------------------------------------
// Grayscale Colors
//-----------------------------------------
$color-alto:           #ddd;
$color-cod-gray:       #111;
$color-dove-gray:      #666;
$color-gallery:        #eee;
$color-gray-alt:       #929292;
$color-gray:           #808080;
$color-mineshaft:      #333;
$color-silver-chalice: #aaa;
$color-silver:         #ccc;
$color-tundora:        #454545;
$color-whitesmoke:     #f1f1f1;

//-----------------------------------------
// Sass Map for Plugin Colors
//-----------------------------------------

/// Sass map used for creating color presentational classes.
$plugin-colors: (
	alto: $color-alto,
	black: $color-black,
	blue: $color-blue,
	cod-gray: $color-cod-gray,
	dove-gray: $color-dove-gray,
	gallery: $color-gallery,
	gray-alt: $color-gray-alt,
	gray: $color-gray,
	light-yellow: $color-light-yellow,
	mineshaft: $color-mineshaft,
	silver-chalice: $color-silver-chalice,
	silver: $color-silver,
	tundora: $color-tundora,
	white: $color-white,
	whitesmoke: $color-whitesmoke,
);

//-----------------------------------------
// Elements
//-----------------------------------------

/// Button background.
$color-background-button: $color-dove-gray;

/// Overlays.
$color-overlay: rgba($color-black, 0.3);