//--------------------------------------------------------------
// Media Query Breakpoints and Grid Options
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

///-----------------------------------------
// Breakpoints – Used for Media Query Mixins only. Note the px values!
//-----------------------------------------
/// Standard Desktops and Larger Laptops.
$desktop: 1200px;

/// Container width.
$container: 1170px;

/// Container width, $contaner plus $gutter padding.
$container-offset: 1194px;

/// Smaller Desktops and Standard iPad Tablet.
$tablet-landscape: 900px;

/// Smaller Tablets and Standard iPad Portrait.
$tablet-portrait: 600px;

//-----------------------------------------
// Default width of the gutters
// Used for padding on mobile.
//-----------------------------------------
$gutter: rem(20);
