//----------------------------------------
// Block - Card Repeater, FRONTEND
//----------------------------------------

.wds-block.cards-repeater {

	.card-wrap {
		display: grid;
		grid-auto-flow: column;
		gap: 1rem;
	}

}
